html
  body
    .player0
    .player1

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
      var socket = io();
      socket.on('event', function(data) {
        updateData(data);
      });

      var updateData = function(data) {
        for(var i = 0; i < 2; i++) {
          var el = $('.player' + i);
          if(data[i]) {
            el.html("<h2>" + data[i].name + "</h2>");
            el.append("<h3>" + data[i].score + "</h3>");
          } else {
            el.html("<h2>Waiting for a new challenger</h2>");
          }
        }
      }
